@import "../Utils/variables";
@import "../Utils/functions";
@import "../Utils/animations";
h1 {
  text-align: center;
}
.main__content {
  display: flex;
  column-gap: 2vh;
}
.character__list {
  color: rebeccapurple;
  padding: 0;
  padding-right: 1vh;
  list-style-type: none;
  margin: auto;
  overflow: scroll;
  overflow-x: hidden;
  height: 40vh;
  flex-direction: column;
  display: inline-flex;
  row-gap: 0.5vh;
  margin: 0;
  &__pick {
    display: flex;
    align-items: center;
    border-radius: 10px;
    & > button {
      border: 2px solid darker-color-more($color-background);
      border-radius: 8px;
      padding-top: 0.5vh;
    }
    &:hover {
      background: brighter-color($color-background);
    }
  }
  &__thumb {
    width: 30%;
    height: 30%;
  }
}

.combos__list {
  background: white;
  border-radius: 10px;
}

.combos__display {
  margin-left: 2vh;
  &__list {
    &__comboContainer {
      display: inline;
      &__oneCombo {
        border-radius: 10px;
        background: linear-gradient(180deg, #44429e, #42889e);
        border: 1px solid $color-text;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding-left: 1vh;
        position: relative;
        min-height: 6vh;
        flex-wrap: wrap;
        // z-index: -2;
      }
      &__titleAndEdit {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1vh;
        margin-bottom: 1vh;
      }
    }
  }
  &__editor {
    &__inputsList {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 2vh;
      column-gap: 2vh;
      overflow: hidden;
      &__input {
        border: 2px solid black;
        background: $color-text;
        width: 60px;
        height: 60px;
        // z-index: 2;
      }
    }
  }
}

#theOneButton {
  background-image: url("/Images/punch_3x.png");
  background-repeat: no-repeat;
}

button.combos__display__editor__inputsList__input > img {
  z-index: -1;
  position: relative;
}

.minimizerOut {
  animation: minimizerOut 2s both;
}
.minimizerIn {
  animation: minimizerIn 2s both;
}

#minimizerContainer {
  margin-top: 10px;
  margin-bottom: -42px;
  text-align: right;
}
#combosMakerMinimizer {
  font-size: 1.5rem;
  &:hover {
    font-size: 1.5rem;
    color: brighter-color($color-background);
  }
}
.edit {
  font-size: 1.5rem;
  &:hover {
    font-size: 1.5rem;
    color: brighter-color($color-background);
  }
}
